<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.weflyagri.wecollect">

    <meta-data android:name="AA_DB_NAME" android:value="my_database.db" />
    <meta-data android:name="AA_DB_VERSION" android:value="1" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Take Picture -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.wefly.wecollect.utils.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">

        <!-- this provider  for open file If your targetSdkVersion is 24 or higher -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="com.wefly.wecollect.services.LocationProviderService"
            android:launchMode="singleTask" />

        <activity
            android:name="com.wefly.wecollect.activities.onboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wefly.wecollect.MainActivity"
            android:theme="@style/ThemeWithoutActionBar" />
        <activity
            android:name="com.wefly.wecollect.activities.LoginActivity"
            android:theme="@style/ThemeWithoutActionBar" />
        <activity
            android:name="com.wefly.wecollect.activities.CreateSMSActivity"
            android:theme="@style/ThemeWithoutActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wefly.wecollect.activities.CreateAlertActivity"
            android:theme="@style/ThemeWithoutActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wefly.wecollect.activities.CreateEmailActivity"
            android:theme="@style/ThemeWithoutActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wefly.wecollect.activities.SmsDetailActivity"
            android:theme="@style/ThemeWithoutActionBar" />
        <activity
            android:name="com.wefly.wecollect.activities.EmailDetailActivity"
            android:theme="@style/ThemeWithoutActionBar" />
        <activity
            android:name="com.wefly.wecollect.activities.AlertDetailActivity"
            android:theme="@style/ThemeWithoutActionBar" />
        <activity
            android:name="com.wefly.wecollect.activities.LoadingActivity"
            android:label="@string/title_activity_loading"
            android:theme="@style/ThemeWithoutActionBar" />
        <activity android:name="com.wefly.wecollect.activities.RecorderActivity" />
        <activity android:name="com.wefly.wecollect.activities.SplashScreensActivity" />
        <activity android:name="com.wefly.wecollect.presenters.DBActivity" />
        <activity android:name="com.wefly.wecollect.presenters.FormActivity" />
    </application>

</manifest>